---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %} {% block head %}
<!-- Critical styles are loaded first -->
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
{% if kit.isProduction %}
<link
  rel="preload"
  href="/assets/css/local.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
  <link rel="stylesheet" href="/assets/css/local.css" />
</noscript>

{% else %}
<link rel="stylesheet" href="/assets/css/local.css" />
{% endif %}

<!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
<!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
<!-- {% include "components/home-schema.html" %} -->
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-143">
  <div class="cs-container">
    <span class="cs-topper"
      >Helping Investors Grow Their Wealth Through Real Estate</span
    >
    <h1 class="cs-title">
      Maximize Your Returns with Reliable Real Estate Investments
    </h1>
    <p class="cs-text">
      With over 25 years of expertise in Michigan's real estate market, we help
      investors grow their wealth through high-yield, reliable properties. Our
      focus is on successful flips and new builds, delivering long-term value
      and consistent market returns. Let’s build your wealth together!
    </p>
    <a href="/contact/" class="cs-button-solid">Get in Touch</a>
  </div>

  <!-- Background Image -->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/newlanding.png" | resize({ width: 640, height: 1490 }) |
    avif %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
    getUrl "/assets/images/newlanding.png" | resize({ width: 640, height: 1490
    }) | webp %}" type="image/webp"> <source media="(max-width: 600px)"
    srcset="{% getUrl "/assets/images/newlanding.png" | resize({ width: 640,
    height: 1490 }) | jpeg %}" type="image/jpeg">
    <!--Tablet Image-->
    <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/newlanding.png" | resize({ width: 2048, height: 1922 }) |
    avif %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
    getUrl "/assets/images/newlanding.png" | resize({ width: 2048, height: 1922
    }) | webp %}" type="image/webp"> <source media="(max-width: 1024px)"
    srcset="{% getUrl "/assets/images/newlanding.png" | resize({ width: 2048,
    height: 1922 }) | jpeg %}" type="image/jpeg">
    <!--Large Tablet Image-->
    <source media="(min-width: 1024px) and (max-width: 1300px)" srcset="{%
    getUrl "/assets/images/newlanding.png" | resize({ width: 2048, height: 1922
    }) | avif %}" type="image/avif"> <source media="(min-width: 1024px) and
    (max-width: 1300px)" srcset="{% getUrl "/assets/images/newlanding.png" |
    resize({ width: 2048, height: 1922 }) | webp %}" type="image/webp"> <source
    media="(min-width: 1024px) and (max-width: 1300px)" srcset="{% getUrl
    "/assets/images/newlanding.png" | resize({ width: 2048, height: 1922 }) |
    jpeg %}" type="image/jpeg">
    <!--Desktop Image-->
    <source media="(min-width: 1300px)" srcset="{% getUrl
    "/assets/images/newlanding.png" | resize({ width: 1, height: 1 }) | avif %}"
    type="image/avif"> <source media="(min-width: 1300px)" srcset="{% getUrl
    "/assets/images/newlanding.png" | resize({ width: 1, height: 1 }) | webp %}"
    type="image/webp"> <source media="(min-width: 1300px)" srcset="{% getUrl
    "/assets/images/newlanding.png" | resize({ width: 1, height: 1 }) | jpeg %}"
    type="image/jpeg"> <img src="{% getUrl "/assets/images/newlanding.png" |
    resize({ width: 1, height: 1 }) | jpeg %}" alt="kitchen" width="1"
    height="1" loading="eager" decoding="async">
  </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="h-services-143">
  <ul class="cs-card-group">
    <li class="cs-item">
      <picture class="cs-icon">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/s1.svg"
          alt="icon"
          width="52"
          height="52"
          aria-hidden="true"
        />
      </picture>
      <h2 class="cs-title">Real Estate Investment Advisory</h2>
      <p class="cs-text">
        With 25+ years of local expertise, we offer expert guidance to investors
        looking to grow their wealth through sound real estate investments in
        Michigan's lucrative market.
      </p>
    </li>
    <li class="cs-item">
      <picture class="cs-icon">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/s2.svg"
          alt="icon"
          width="52"
          height="52"
          aria-hidden="true"
        />
      </picture>
      <h2 class="cs-title">Property Flipping</h2>
      <p class="cs-text">
        Specializing in purchasing undervalued properties, we renovate and sell
        them for a profit, ensuring high returns for our investors through
        targeted improvements.
      </p>
    </li>
    <li class="cs-item">
      <picture class="cs-icon">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/s3.svg"
          alt="icon"
          width="52"
          height="52"
          aria-hidden="true"
        />
      </picture>
      <h2 class="cs-title">Construction & Development</h2>
      <p class="cs-text">
        As a licensed Michigan builder, we offer end-to-end construction and
        development services, managing projects from initial design to final
        build with quality and precision.
      </p>
    </li>
    <li class="cs-item">
      <picture class="cs-icon">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/s4.svg"
          alt="icon"
          width="52"
          height="52"
          aria-hidden="true"
        />
      </picture>
      <h2 class="cs-title">Market Analysis & Forecasting</h2>
      <p class="cs-text">
        We provide thorough market analysis, identifying real estate trends and
        emerging opportunities in Michigan’s market to ensure our investors make
        informed decisions.
      </p>
    </li>
  </ul>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-313">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/cabinets.png" | resize({ width: 482, height: 536 }) |
        avif %}" type="image/avif"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/cabinets.png" | resize({ width: 482,
        height: 536 }) | webp %}" type="image/webp"> <source media="(max-width:
        600px)" srcset="{% getUrl "/assets/images/cabinets.png" | resize({
        width: 482, height: 536 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/cabinets.png" | resize({ width: 802, height: 892 }) |
        avif %}" type="image/avif"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/cabinets.png" | resize({ width: 802,
        height: 892 }) | webp %}" type="image/webp"> <source media="(max-width:
        1024px)" srcset="{% getUrl "/assets/images/cabinets.png" | resize({
        width: 802, height: 892 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/cabinets.png" | resize({ width: 1044, height: 1162 }) |
        avif %}" type="image/avif"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/cabinets.png" | resize({ width: 1044,
        height: 1162 }) | webp %}" type="image/webp"> <source media="(min-width:
        1024px)" srcset="{% getUrl "/assets/images/cabinets.png" | resize({
        width: 1044, height: 1162 }) | jpeg %}" type="image/jpeg"> <img src="{%
        getUrl "/assets/images/cabinets.png" | resize({ width: 1044, height:
        1162 }) | jpeg %}" alt="lawyers" width="522" height="581" loading="lazy"
        decoding="async">
      </picture>
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/construction.png" | resize({ width: 366, height: 354 })
        | avif %}" type="image/avif"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/construction.png" | resize({ width:
        366, height: 354 }) | webp %}" type="image/webp"> <source
        media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/construction.png" | resize({ width: 366, height: 354 })
        | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/construction.png" | resize({ width: 600, height: 578 })
        | avif %}" type="image/avif"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/construction.png" | resize({ width:
        600, height: 578 }) | webp %}" type="image/webp"> <source
        media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/construction.png" | resize({ width: 600, height: 578 })
        | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/construction.png" | resize({ width: 780, height: 752 })
        | avif %}" type="image/avif"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/construction.png" | resize({ width:
        780, height: 752 }) | webp %}" type="image/webp"> <source
        media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/construction.png" | resize({ width: 780, height: 752 })
        | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/construction.png" | resize({ width: 780, height: 752 })
        | jpeg %}" alt="gavel" width="390" height="376" loading="lazy"
        decoding="async">
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">About Us</span>
      <h2 class="cs-title">About Our Real Estate Investment Company</h2>
      <p class="cs-text">
        Infinity Investment Property Solutions LLC is dedicated to providing
        investors with reliable, high-performing real estate investment
        opportunities. Founded by John Doe, a licensed Michigan builder with
        over five years of experience and $10 million in successful
        transactions, we offer personalized investment solutions tailored to
        each client. Our deep knowledge of the local market and our established
        relationships with top brokers and contractors set us apart as a trusted
        partner in real estate investing. At Infinity Investment Property
        Solutions LLC, we prioritize quality, transparency, and profitability,
        ensuring that each project delivers exceptional results. Whether you're
        a seasoned investor or just starting, we're here to help you grow your
        wealth with confidence and security.
      </p>
      <div class="cs-quote">
        <span class="cs-quote-text">
          "We’ve consistently delivered strong returns for our investors, thanks
          to our deep understanding of the Michigan market and a focus on
          high-quality real estate investments. Our personalized approach and
          commitment to transparency make us a trusted partner for long-term
          wealth growth."
        </span>
        <span class="cs-name">Isaac Garcia</span>
        <span class="cs-job">CEO-Founder</span>
        <img
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/quote.svg"
          alt="quote icon"
          width="136"
          height="77"
        />
      </div>

      <a href="/about/" class="cs-button-solid">Learn More</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-48">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Portfolio</span>
      <h2 class="cs-title">Successful Real Estate Projects and Investments</h2>
    </div>
    <div class="cs-image-group">
      <div class="cs-row cs-row-1">
        <!-- Row 1-->
        <picture class="cs-picture cs-picture-1">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port1.png" | resize({ width: 182, height:
          250 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/portfolio/port1.png" |
          resize({ width: 182, height: 250 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port1.png" | resize({ width: 182, height:
          250 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port1.png" | resize({ width: 634, height:
          798 }) | avif %}" type="image/avif"> <source media="(max-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port1.png" |
          resize({ width: 634, height: 798 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port1.png" | resize({ width: 634, height:
          798 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port1.png" | resize({ width: 826, height:
          1134 }) | avif %}" type="image/avif"> <source media="(min-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port1.png" |
          resize({ width: 826, height: 1134 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port1.png" | resize({ width: 826, height:
          1134 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
          "/assets/images/portfolio/port1.png" | resize({ width: 826, height:
          1134 }) | jpeg %}" alt="new hallway" width="413" height="567"
          loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture cs-picture-2">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port4.jpg" | resize({ width: 182, height:
          276 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/portfolio/port4.jpg" |
          resize({ width: 182, height: 276 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port4.jpg" | resize({ width: 182, height:
          276 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port4.jpg" | resize({ width: 634, height:
          886 }) | avif %}" type="image/avif"> <source media="(max-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port4.jpg" |
          resize({ width: 634, height: 886 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port4.jpg" | resize({ width: 634, height:
          886 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port4.jpg" | resize({ width: 826, height:
          1258 }) | avif %}" type="image/avif"> <source media="(min-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port4.jpg" |
          resize({ width: 826, height: 1258 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port4.jpg" | resize({ width: 826, height:
          1258 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
          "/assets/images/portfolio/port4.jpg" | resize({ width: 826, height:
          1258 }) | jpeg %}" alt="new home construction" width="413"
          height="629" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture cs-picture-3">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port7.jpg" | resize({ width: 182, height:
          226 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/portfolio/port7.jpg" |
          resize({ width: 182, height: 226 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port7.jpg" | resize({ width: 182, height:
          226 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port7.jpg" | resize({ width: 634, height:
          720 }) | avif %}" type="image/avif"> <source media="(max-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port7.jpg" |
          resize({ width: 634, height: 720 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port7.jpg" | resize({ width: 634, height:
          720 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port7.jpg" | resize({ width: 826, height:
          1024 }) | avif %}" type="image/avif"> <source media="(min-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port7.jpg" |
          resize({ width: 826, height: 1024 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port7.jpg" | resize({ width: 826, height:
          1024 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
          "/assets/images/portfolio/port7.jpg" | resize({ width: 826, height:
          1024 }) | jpeg %}" alt="building a new wall" width="413" height="512"
          loading="lazy" decoding="async">
        </picture>
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
      <!-- Row 2 -->
      <div class="cs-row cs-row-2">
        <picture class="cs-picture cs-picture-1">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port2.jpg" | resize({ width: 182, height:
          216 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/portfolio/port2.jpg" |
          resize({ width: 182, height: 216 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port2.jpg" | resize({ width: 182, height:
          216 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port2.jpg" | resize({ width: 634, height:
          692 }) | avif %}" type="image/avif"> <source media="(max-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port2.jpg" |
          resize({ width: 634, height: 692 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port2.jpg" | resize({ width: 634, height:
          692 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port2.jpg" | resize({ width: 826, height:
          984 }) | avif %}" type="image/avif"> <source media="(min-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port2.jpg" |
          resize({ width: 826, height: 984 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port2.jpg" | resize({ width: 826, height:
          984 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
          "/assets/images/portfolio/port2.jpg" | resize({ width: 826, height:
          984 }) | jpeg %}" alt="new kitchen" width="413" height="492"
          loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture cs-picture-2">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port5.jpg" | resize({ width: 182, height:
          228 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/portfolio/port5.jpg" |
          resize({ width: 182, height: 228 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port5.jpg" | resize({ width: 182, height:
          228 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port5.jpg" | resize({ width: 634, height:
          728 }) | avif %}" type="image/avif"> <source media="(max-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port5.jpg" |
          resize({ width: 634, height: 728 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port5.jpg" | resize({ width: 634, height:
          728 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port5.jpg" | resize({ width: 826, height:
          1034 }) | avif %}" type="image/avif"> <source media="(min-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port5.jpg" |
          resize({ width: 826, height: 1034 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port5.jpg" | resize({ width: 826, height:
          1034 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
          "/assets/images/portfolio/port5.jpg" | resize({ width: 826, height:
          1034 }) | jpeg %}" alt="apartment addition" width="413" height="517"
          loading="lazy" decoding="async">
        </picture>

        <picture class="cs-picture cs-picture-3">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port8.jpg" | resize({ width: 182, height:
          276 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/portfolio/port8.jpg" |
          resize({ width: 182, height: 276 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port8.jpg" | resize({ width: 182, height:
          276 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port8.jpg" | resize({ width: 634, height:
          886 }) | avif %}" type="image/avif"> <source media="(max-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port8.jpg" |
          resize({ width: 634, height: 886 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port8.jpg" | resize({ width: 634, height:
          886 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port8.jpg" | resize({ width: 826, height:
          1258 }) | avif %}" type="image/avif"> <source media="(min-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port8.jpg" |
          resize({ width: 826, height: 1258 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port8.jpg" | resize({ width: 826, height:
          1258 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
          "/assets/images/portfolio/port8.jpg" | resize({ width: 826, height:
          1258 }) | jpeg %}" alt="kew kitchen cabinets" width="413" height="629"
          loading="lazy" decoding="async">
        </picture>

        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
      <!-- Row 3 -->
      <div class="cs-row cs-row-3">
        <picture class="cs-picture cs-picture-1">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port3.jpg" | resize({ width: 182, height:
          276 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/portfolio/port3.jpg" |
          resize({ width: 182, height: 276 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port3.jpg" | resize({ width: 182, height:
          276 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port3.jpg" | resize({ width: 634, height:
          880 }) | avif %}" type="image/avif"> <source media="(max-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port3.jpg" |
          resize({ width: 634, height: 880 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port3.jpg" | resize({ width: 634, height:
          880 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port3.jpg" | resize({ width: 826, height:
          1250 }) | avif %}" type="image/avif"> <source media="(min-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port3.jpg" |
          resize({ width: 826, height: 1250 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port3.jpg" | resize({ width: 826, height:
          1250 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
          "/assets/images/portfolio/port3.jpg" | resize({ width: 826, height:
          1250 }) | jpeg %}" alt="new black window structure" width="413"
          height="625" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture cs-picture-2">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port6.jpg" | resize({ width: 182, height:
          198 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/portfolio/port6.jpg" |
          resize({ width: 182, height: 198 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port6.jpg" | resize({ width: 182, height:
          198 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port6.jpg" | resize({ width: 634, height:
          636 }) | avif %}" type="image/avif"> <source media="(max-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port6.jpg" |
          resize({ width: 634, height: 636 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port6.jpg" | resize({ width: 634, height:
          636 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port6.jpg" | resize({ width: 826, height:
          904 }) | avif %}" type="image/avif"> <source media="(min-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port6.jpg" |
          resize({ width: 826, height: 904 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port6.jpg" | resize({ width: 826, height:
          904 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
          "/assets/images/portfolio/port6.jpg" | resize({ width: 826, height:
          904 }) | jpeg %}" alt="kitchen rebovation" width="413" height="452"
          loading="lazy" decoding="async">
        </picture>

        <picture class="cs-picture cs-picture-3">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port9.jpg" | resize({ width: 182, height:
          276 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/portfolio/port9.jpg" |
          resize({ width: 182, height: 276 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port9.jpg" | resize({ width: 182, height:
          276 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port9.jpg" | resize({ width: 634, height:
          886 }) | avif %}" type="image/avif"> <source media="(max-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port9.jpg" |
          resize({ width: 634, height: 886 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port9.jpg" | resize({ width: 634, height:
          886 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port9.jpg" | resize({ width: 826, height:
          1258 }) | avif %}" type="image/avif"> <source media="(min-width:
          1024px)" srcset="{% getUrl "/assets/images/portfolio/port9.jpg" |
          resize({ width: 826, height: 1258 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port9.jpg" | resize({ width: 826, height:
          1258 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
          "/assets/images/portfolio/port9.jpg" | resize({ width: 826, height:
          1258 }) | jpeg %}" alt="bathroom renovation" width="413" height="629"
          loading="lazy" decoding="async">
        </picture>

        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
    </div>
    <a href="/project-one/" class="cs-button-solid">View a Project</a>
  </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-67">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Investor Testimonials</span>
      <h2 class="cs-title">Real Results. Real Trust.</h2>
      <p class="cs-text">
        At Infinity Investment Property Solutions LLC, we specialize in helping
        investors grow their wealth through reliable, local real estate
        opportunities. With over $10 million in successful transactions, 5+
        years of hands-on experience, and a licensed builder's eye for quality,
        we stand out with consistent returns, transparent updates, and a
        personal touch.
      </p>
    </div>
    <ul class="cs-card-group">
      <!-- Review 1 -->
      <li class="cs-item">
        <img
          class="cs-item-img"
          style="border-radius: 50%"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/review/r2.webp"
          alt="profile picture"
          width="80"
          height="80"
        />

        <p class="cs-item-text">
          I’ve worked with Infinity on multiple projects now, and their
          professionalism and results speak for themselves. From off-market
          deals to regular video updates, I always knew where my investment
          stood. They treat you like a true partner, not just another client.
        </p>
        <div class="cs-info">
          <div class="cs-flex-group">
            <span class="cs-name">Brian K.</span>
            <span class="cs-desc">Private Investor</span>
          </div>
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/stars.svg"
            alt="5-star rating"
            width="96"
            height="16"
          />
        </div>
      </li>
      <!-- Review 2 -->
      <li class="cs-item">
        <img
          class="cs-item-img"
          style="border-radius: 50%"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/review/r7.png"
          alt="profile picture"
          width="80"
          height="80"
        />

        <p class="cs-item-text">
          As someone new to real estate investing, I was nervous—until I
          connected with Infinity. They walked me through every step, and the
          access I had to the owner was incredible. Their knowledge of the
          Michigan market and strong contractor relationships gave me real peace
          of mind.
        </p>
        <div class="cs-info">
          <div class="cs-flex-group">
            <span class="cs-name">Lisa R.</span>
            <span class="cs-desc">First-Time Investor</span>
          </div>
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/stars.svg"
            alt="5-star rating"
            width="96"
            height="16"
          />
        </div>
      </li>
    </ul>
    <a href="/reviews/" class="cs-button-solid">Read More Success Stories</a>
  </div>
</section>

{% include 'sections/cta.html' %} {% endblock %}
